[2020-08-05 18:13] reichert621 opened #14 "Isolate CSS with shadow-dom/iframe"
Figure out whichever is the easiest first, but eventually we'll very likely need to use an iframe here

[2020-08-06 12:33] webdeb opened #16 "Please make placeholder "Start typing..." customisable"
Hello, I really like the papercups.
Would love if the placeholder could be a customisable for i18n.

[2020-08-06 13:39] reichert621 commented on #16
great idea @webdeb! happy to make that change

[2020-08-06 17:33] BonneauPhilippe commented on #16
I need this too. My site is in French

[2020-08-06 17:37] BonneauPhilippe opened #17 "Font customization"
Hi. Thanks for your work. I woud like to have a way to set the font (Google fonts) and size to harmonize the design of the chat with the site. See here https://ecordl.ca

[2020-08-06 17:44] reichert621 commented on #16
@BonneauPhilippe I'll add it today :) just focusing on moving the chat window into an iframe first 👍

[2020-08-06 17:47] reichert621 commented on #17
hey @BonneauPhilippe! as a short-term fix for the heading size, you can do something like this in your CSS:
[code]

for customizing the font -- I'll look into that as well 👍

[2020-08-06 18:16] BonneauPhilippe commented on #16
Hi Alex. Thank you for your quickness. I have put the code in a Raw content element in the header of my Wordpress Theme (Themeco Pro). Here is the result https://dev.ecordl.ca

Philippe

 <http://ecommunication.ca/>
Philippe Bonneau

68, route 132

Saint-Germain

G0L 3G0

581 729-1502
philippe@ecommunication.ca <mailto:philippe@ecommunication.ca>
Web: ecommunication.ca <http://ecommunication.ca/>

[2020-08-06 18:29] reichert621 commented on #16
@BonneauPhilippe hmm I can't seem to view https://dev.ecordl.ca -- I might not have permission? it's redirecting me to https://ecordl.ca/

can you take a screenshot? is it still not working?

[2020-08-06 18:37] BonneauPhilippe commented on #16
Sorry Alex. I have moved this feature to a dev environment here https://dev.ecordl.ca
 <http://ecommunication.ca/>
Philippe Bonneau

68, route 132

Saint-Germain

G0L 3G0

581 729-1502
philippe@ecommunication.ca <mailto:philippe@ecommunication.ca>
Web: ecommunication.ca <http://ecommunication.ca/>
Facebook: ecommunication.kamouraska
 <https://www.facebook.com/ecommunication.kamouraska/>Twitter: ec

[2020-08-06 18:51] reichert621 commented on #16
@BonneauPhilippe I'm afraid I can't access this url https://dev.ecordl.ca 😞

[2020-08-07 07:34] ysfuu opened #19 "React Native Support"
Hi, I can see that this project uses [theme-ui](https://github.com/system-ui/theme-ui) for it's UI. I think it can easily be ported to the react-native using [theme-ui-native](https://github.com/samjbmason/theme-ui-native). It can be on a separate repo but that would mean maintaining the same codebase twice.

And because there are no native modules for this to work, it can be used with expo too. T

[2020-08-07 13:33] BonneauPhilippe commented on #16
Hi Alex Sorry for the delay. There was a problem with the .htaccess file. You should be able to access the provided link now.

Bonne journée.

Philippe
 <http://ecommunication.ca/>
Philippe Bonneau

68, route 132

Saint-Germain

G0L 3G0

581 729-1502
philippe@ecommunication.ca <mailto:philippe@ecommunication.ca>
Web: ecommunication.ca <http://ecommunication.ca/>
Facebook: ecommunication.kamouraska

[2020-08-07 15:39] reichert621 commented on #16
@BonneauPhilippe  @webdeb you should now be able to customize this:

**in HTML:**
[code]

**in React:**

first make sure you have the latest version installed:
[code]

[code]

let me know if you need any help or find any issues!

[2020-08-07 15:41] reichert621 commented on #19
great idea @ysfuu! have you tested it out with theme-ui-native to see if it works?

happy to look into this 😄

[2020-08-07 15:45] ysfuu commented on #19
I didn't try it but I can't see why it wouldn't work. The differences between the web version and the native version don't seem like a problem for this package.

https://github.com/samjbmason/theme-ui-native#differences-between-theme-ui-for-web-and-theme-ui-for-react-native

[2020-08-07 18:26] BonneauPhilippe commented on #16
Thank you Alex. Do you plan a notification system?

Philippe
 <http://ecommunication.ca/>
Philippe Bonneau

68, route 132

Saint-Germain

G0L 3G0

581 729-1502
philippe@ecommunication.ca <mailto:philippe@ecommunication.ca>
Web: ecommunication.ca <http://ecommunication.ca/>
Facebook: ecommunication.kamouraska
 <https://www.facebook.com/ecommunication.kamouraska/>Twitter: eco_mmunication <https://tw

[2020-08-07 18:42] reichert621 commented on #16
@BonneauPhilippe yes we plan on improving our notifications :)

what kind of notification system would you like?

[2020-08-07 18:52] BonneauPhilippe commented on #16
In browser notification, by email, mobile app or SMS. I want to be able to work on other tasks but be notified very quickly when someone writes in the chat. If I can be notified before the user click on the plane icon button would be great.
 <http://ecommunication.ca/>
Philippe Bonneau

68, route 132

Saint-Germain

G0L 3G0

581 729-1502
philippe@ecommunication.ca <mailto:philippe@ecommunication.c

[2020-08-07 19:49] reichert621 commented on #16
@BonneauPhilippe we currently support Slack notifications, and we're working on email next! email should be ready soon

by the way, were you able to fix the "Start typing..." placeholder? can I close this ticket now?

[2020-08-07 20:01] BonneauPhilippe commented on #16
Problem solved. Tx
 <http://ecommunication.ca/>
Philippe Bonneau

68, route 132

Saint-Germain

G0L 3G0

581 729-1502
philippe@ecommunication.ca <mailto:philippe@ecommunication.ca>
Web: ecommunication.ca <http://ecommunication.ca/>
Facebook: ecommunication.kamouraska
 <https://www.facebook.com/ecommunication.kamouraska/>Twitter: eco_mmunication <https://twitter.com/eco_mmunication>
 <https://www.f

[2020-08-07 20:38] reichert621 commented on #16
Feel free to open up another issue if you have anymore questions! Or feel free to email me at alex@papercups.io

[2020-08-07 20:38] #16 closed

[2020-08-14 15:12] fabiosantoscode opened #24 "Export ChatWindow component"
Hello there!

My team is using this module to talk to a custom papercups instance.

We'd like to make sure our users aren't running external code as much as possible, which is why we chose papercups.

However when using this module, we noticed that the window is placed in a separate domain. We'd like to place the `ChatWindow` component within our app code (possibly even using React.lazy and suspen

[2020-08-14 15:32] reichert621 commented on #24
hey @fabiosantoscode! just want to make sure i understand: is your goal to avoid rendering the chat window in an iframe, or would you like to be able to just import the chat window component on its own without the widget toggle etc?

[2020-08-14 15:44] fabiosantoscode commented on #24
I would like to avoid loading it from another domain. My preference would be to load it from a subdomain of mine (where I have papercups running).

Rendering it directly from my code as a react component, and controlling the opening logic would be nice but not necessary.

[2020-08-14 15:45] fabiosantoscode commented on #24
Sorry for exposing this as an XY problem :)

I want to avoid loading in an iframe -> (tried some stuff without mentioning what I tried) -> so here's how I loaded it directly on my code :)

[2020-08-14 16:34] reichert621 commented on #24
got it! so basically you want to be able to pass in your own iframe url (e.g. https://github.com/papercups-io/chat-widget/blob/638b52284a6eb8b45dc76786ccaa2aa396fe31a6/src/components/EmbeddableWidget.tsx#L20) and load the chat window from your own (sub)domain -- is that correct?

btw, the code for the chat window is here: https://github.com/papercups-io/chat-window (need to update the docs though

[2020-08-14 16:40] fabiosantoscode commented on #24
That's an acceptable solution indeed!

Thanks for sending the link. From what I can see, the app is capable of being `next export` ed which makes serving it on our own that much easier (apps with `[params]` in the URLs aren't exportable to plain old static files).

Currently in our build we already have a find-and-replace step to replace some macros. We could actually start replacing that address

[2020-08-14 16:43] reichert621 commented on #24
great! I could also pretty quickly expose a prop if that makes things easier, e.g. `iframeUrlOverride` or something :)

[2020-08-14 16:44] fabiosantoscode commented on #24
That would be perfect, I would appreciate it :)

[2020-08-14 16:54] fabiosantoscode commented on #24
One note @reichert621: if the iframe's src is somehow not the root of the domain, then the postMessage origin check here will fail:

https://github.com/papercups-io/chat-widget/blob/638b52284a6eb8b45dc76786ccaa2aa396fe31a6/src/components/EmbeddableWidget.tsx#L25

Instead the origin should be compared against new URL(IFRAME_URL).origin

[2020-08-14 16:57] reichert621 commented on #24
good catch 👍 i'll take that into account

[2020-08-17 22:58] dwwoelfel opened #26 "Typing indicator"
It would be really handy to see when the other party is typing.

As the site owner, it might also be nice to see _what_ the user is typing so that I can provide a faster reply.

[2020-08-17 23:04] dwwoelfel commented on #26
I've seen this implemented in two ways

1. Temporary chat bubble with typing animation (Messenger, Intercom)
2. Static "Daniel is typing" text (Slack, Whatsapp)

I prefer the aesthetics of 2. because the transition between the typing indicator and the new message never looks good, especially when the user sends a message and keeps typing.

2 is also much easier to implement.

[2020-08-17 23:08] reichert621 commented on #26
2 sounds good! just need to figure out the best place to put it -- maybe right above the message input area? 🤔

[2020-08-18 23:17] dwwoelfel commented on #26
Slack puts theirs under the input area, but you don't have any space there right now.

Precursor puts it on the line that separates the chat box and I think it works pretty well:

![image](https://user-images.githubusercontent.com/476818/90574635-4942fb00-e16e-11ea-87dd-a34817ec159c.png)

[2020-08-18 23:49] reichert621 commented on #26
nice! yup i think that would work :)

[2020-08-18 23:50] reichert621 commented on #19
hey @ysfuu! we recently added a React Native component if you wanna try it out :) https://github.com/papercups-io/chat-widget-native

(it still needs some tweaks, but you should still be able to play around with it!)

[2020-08-21 00:20] ivanistheone opened #28 "Difficult to find (X) close button"
A potential UX issue --- the (X) in the bottom right to close the chat is at an unexpected place

<img width="593" alt="difficult to find close button" src="https://user-images.githubusercontent.com/163966/90838311-923bb080-e322-11ea-9b6c-fca0a6e9b431.png">

I was like "how do I close this?" and kept looking around (my eyes didn't even saccade to the bottom right of the screen as I don't expect ac

[2020-08-24 02:35] reichert621 commented on #14
done, using iframe now

[2020-08-24 02:35] #14 closed

[2020-08-24 02:40] reichert621 opened #29 "Fix some potential iframe security issues"
Google Ads is flagging the widget for some reason, need to figure out exactly what is causing this...

TODOs:
- Add `sandbox` attribute (https://www.w3schools.com/tags/att_iframe_sandbox.asp)
- Update how we hide the iframe (google ads may be flagging us due to how we currently hide it, i.e. https://github.com/papercups-io/chat-widget/blob/master/src/components/EmbeddableWidget.tsx#L295)
- Re-read

[2020-08-25 14:40] #29 closed

[2020-08-26 06:16] shunkakinoki opened #31 "API to raise a ticket through a customized form"
Once again, thanks for amazing work as always.🚀

Is there an API for devs to implement a form for say, raising a ticket?
That would be soooo amazing

[2020-08-26 06:17] shunkakinoki opened #32 "[Question] When will the iframe option be ready?"
I was just curious, being able to implement an iframe on the support page will be so awesome!

[2020-08-26 16:00] reichert621 commented on #32
hey @shunkakinoki! do you mean so you can embed the chat window on a page without the toggle button?

[2020-08-26 16:01] reichert621 commented on #31
hey @shunkakinoki! what do you mean by raising a ticket? like creating a new conversation/message via the API?

[2020-08-26 16:04] shunkakinoki commented on #32
HI @reichert621 Yes, exactly! Will this be supported? I manually went on the `chat-window` repo link and it led to an iframe-like component, it would be awesome if it was published as a lib too.

[2020-08-26 16:06] shunkakinoki commented on #31
hi @reichert621 Thanks once again!
Yes, for example like creating a ticket through a form like the one below.
If we could have an api to post the form description to papercups, it would really be awesome

example on https://vercel.com/support/request
<img width="1088" alt="Screen Shot 2020-08-27 at 01 05 55" src="https://user-images.githubusercontent.com/39187513/91328156-7ee88380-e801-11ea-95c0-2

[2020-08-26 16:12] reichert621 commented on #32
I see! Yes we can definitely do this :) would it work for you as an exported React component?

[2020-08-26 16:23] shunkakinoki commented on #32
@reichert621 OMG! That would seriously be a game-changer.

No one literally supports this. Thanks again for being so awesome and supporting niche usecases like ours. You guys really are a doing so much for the internet!!!

[2020-08-26 16:55] reichert621 commented on #32
no prob! it would actually be easier to do as a React component for now anyway 😛  I'll let you know when it's done!

[2020-08-26 21:10] reichert621 commented on #31
makes sense! I'll have to think about this one a little more... we could make it possible to create a new conversation in papercups through a form like this, but not sure about a "ticketing" system 🤔

[2020-08-27 00:52] shunkakinoki commented on #31
Yes definitely! Exactly what I tried to mean thanks for clarifying,

[2020-08-28 17:00] wodow opened #36 "[Question] Is there a way to have multiple chats for a single user's browser session?"
I am trying to let a single browser user have multiple, isolated chat sessions at once, on different web pages on the same domain. Is there a way to force this to happen? I am happy for them, for the moment, to appear as multiple customers.

I have tried to provide a different `external_id` in the config in each place when I would like an isolated/seperate chat session. The call to `https://app.pa

[2020-08-28 17:31] reichert621 commented on #36
hey @wodow! hmm, if different `external_id`s are returning the same `customer_id` that sounds like a bug... let me look into this a bit more.

[2020-08-31 12:42] wodow commented on #36
Thanks for looking into it.

I've tried setting all three attributes of the `customer` object (`name`, `email`, `external_id`) to a unique values each time, but the still get the same chat session. Seems like it's entirely based on the browser session / cookies or similar.

[2020-08-31 13:06] wodow commented on #36
Possible workaround I'm trying out: clear Local Storage before every init of Papercups.

[2020-08-31 13:37] reichert621 commented on #36
yeah I think clearing local storage will work in the meantime... looks like the bug here is that if we don't find a customer on our backend matching the external id you provide, we fall back to whatever is cached in local storage.

the expected behavior should be: don't fall back to whatever is cached if an external id is provided; in other words, only use the cached value if no external id is pro

[2020-09-01 21:10] #19 closed

[2020-09-01 21:12] reichert621 commented on #36
hey @wodow -- this should be fixed now! (feel free to reopen if you're still seeing the issue though)

[2020-09-01 21:12] #36 closed

[2020-09-02 21:26] maxbeatty opened #40 "Cannot read property 'contentWindow' of undefined"
I'm using React with react-helmet to include the scripts and getting a lot of errors via Sentry:

It looks like it's tracing back to https://github.com/papercups-io/chat-widget/blob/c7e70fda7adbceeba5d122492a18e80d3bca4be8/src/components/EmbeddableWidget.tsx#L238-L240

[code]

Does my config look right? Should I switch over to `@papercups-io/chat-widget`?

[2020-09-02 21:47] reichert621 commented on #40
hey @maxbeatty! can you tell me a little bit more about your setup? (e.g. are you using NextJS or anything like that?)

looks like this is likely a bug on our end, but do you mind trying the `@papercups-io/chat-widget` React component in the meantime to see if that works?

[2020-09-02 23:12] maxbeatty commented on #40
Our setup is Gatsby on Firebase almost exactly like [their SEO Component example](https://www.gatsbyjs.com/docs/add-seo-component/#seo-component). I'll try your React component and report back.

[2020-09-02 23:47] maxbeatty commented on #40
That looks to have cleared it up.

For anyone else using Gatsby, they'll need to update their `onCreateWebpackConfig` to exclude `@papercups-io/chat-widget` at build time (see detail for trace).

<details><summary>Gatsby Build Error</summary>
WebpackError: TypeError: require is not a function

  - incoming_form.js:3
    node_modules/formidable/lib/incoming_form.js:3:1

  - index.js:1
    node_modu

[2020-09-03 01:49] reichert621 commented on #40
thanks for sorting this out @maxbeatty! what do you think the best solution would be on our side? is there a bug we ought to fix, or should we just update the docs to mention your discovery?

[2020-09-03 01:50] reichert621 opened #41 "Reduce size of bundle"
A couple things to try:
- find a bundle analyzer to let us know what dependencies are the largest
- try switching from react to preact
- remove all unused code!

Anything else?

[2020-09-03 05:02] maxbeatty commented on #40
At a glance, you might check that `this.iframeRef` exists before using it. (There's probably consequences I don't understand.) Hard to tell if this is related to Gatsby or Helmet or some combination.

Thanks for the speedy responses! If it helps you to keep this issue open, please do. Otherwise, everything is working better for me.

[2020-09-03 13:52] reichert621 commented on #40
no prob! I'm gonna leave this open for now because I still want to dig into this a little, but glad to hear you resolved everything :)

[2020-09-03 20:52] maxbeatty commented on #40
This reoccurred and looks like the same code path. Happy to share breadcrumbs privately.

[2020-09-04 03:11] reichert621 commented on #40
hey @maxbeatty -- sorry for the delay, would love to get more info if you want to email me at alex@papercups.io or ping me on our slack channel! https://github.com/papercups-io/papercups#get-in-touch

[2020-09-06 18:59] ivanistheone opened #44 "Chat content does not display correctly in Firefox"
Using Firefox 80.0 (64-bit) on a mac, I try to load the chat widget on [this page](https://nobsmath.com/newlandingpage.htm) and this is what I see:

<img width="866" alt="no chat contents" src="https://user-images.githubusercontent.com/163966/92333161-6b36eb80-f051-11ea-8b27-0e292d5cb1c5.png">

Its weird because the iframe [src URL](https://chat-window.vercel.app/?accountId=c7abdbae-9c0f-4001-bf5a

[2020-09-06 19:14] ivanistheone commented on #44
nevermind; I updated to `@papercups-io/chat-widget@1.0.29` and it is working fine now

[2020-09-06 19:14] #44 closed

[2020-09-06 19:18] reichert621 commented on #44
glad to hear it, thanks for letting us know!

[2020-09-07 15:23] reichert621 opened #45 "Fix/Improve UX on mobile"
From email:

[2020-09-07 17:26] jackkemmish opened #47 "How to change password and delete a user?"
Is there anywhere to change a users password and remove a user from the app?

[2020-09-09 02:27] reichert621 commented on #47
hey @jackkemmish! mind adding this ticket to this repo instead? https://github.com/papercups-io/papercups

thanks 😄

[2020-09-09 02:27] #47 closed

[2020-09-09 08:04] jackkemmish commented on #47
Hi, of course my bad! I'll do that now. Thanks

[2020-09-13 18:46] zkwentz opened #48 "Can you support either (tweaking the bot name / image) or allowing a default support member, or both?"
I'd like to either make the bot more friendly, or preferably, set a default team member to start the conversation.

[2020-09-13 21:00] reichert621 commented on #48
hey @zkwentz! yes, we should be able to do something like this :)

one thing I was also thinking of changing in the short term is showing your company name/logo instead of the bot name/icon by default, but longer term I'd love to make it easier to completely customize this

[2020-09-13 21:35] zkwentz commented on #48
Love that idea, the personalizing of the bot in that way would definitely de-prioritize the need to have a default assigned team member as the convo initiate / prompt.

[2020-09-14 19:46] reichert621 commented on #48
sounds good @zkwentz -- hoping to have that working sometime this week!

[2020-09-14 23:45] zkwentz opened #49 "Support callback for when chat window opens, closes, and message is sent."
I'd like to hook into callbacks for when the chat window is opened, it closes, and when a customer sends a message so that I may push events to Mixpanel / Google Analytics.

[2020-09-14 23:46] zkwentz commented on #48
Thanks very much @reichert621, keep up the good work! This is much appreciated.

[2020-09-15 00:42] reichert621 commented on #49
good idea! this should be very doable :+1:

btw @zkwentz i'm assuming you're using the react component version of the widget? (as opposed to the html snippet)

[2020-09-15 01:21] zkwentz commented on #49
Both actually! I use the snippet on webflow landing page, react component in app.

[2020-09-15 01:27] reichert621 commented on #49
gotcha, would you like to be able to use callbacks in both? (i was planning on starting off with just adding them to the react component, but happy to do both if you need!)

[2020-09-15 01:50] zkwentz commented on #49
Both would be excellent, yes. I'm curious about tracking landing page (e.g. learn about what this app is requests) vs. in-app (e.g. I need help with this app requests) on an aggregate level.

[2020-09-16 01:19] reichert621 commented on #48
in the latest version, it should now show the company name instead of "bot":
<img width="411" alt="Screen Shot 2020-09-15 at 9 08 56 PM" src="https://user-images.githubusercontent.com/5264279/93280696-3ab12900-f798-11ea-8e74-3c093259afc6.png">

(i'll keep this ticket open until we add support for complete customization of the bot name/icon though)

[2020-09-16 02:05] reichert621 commented on #49
just added! (see bottom of https://github.com/papercups-io/chat-widget#options)

[2020-09-16 02:05] #49 closed

[2020-09-16 05:25] zkwentz commented on #48
Awesome, looks great so far!

[2020-09-16 05:37] zkwentz commented on #49
Thanks, you're fast! Which version should I be on?

[2020-09-16 13:12] reichert621 commented on #49
ah sorry forgot to mention! `"@papercups-io/chat-widget": "^1.0.33"`

[2020-09-16 13:52] zkwentz commented on #49
Thank you for the fast turnaround, and for adding the additional received callback (I was assuming only sent).

[2020-09-16 14:09] reichert621 commented on #49
no prob!

[2020-09-17 02:44] zkwentz opened #52 "Allow us to turn off debug messages via prop"
The debug messages are polluting the console in production. Can we have a prop that lets us turn them off?

[2020-09-17 12:34] reichert621 commented on #52
yes definitely!

[2020-09-18 09:14] wodow commented on #36
Great -- speedy! Thank you. I haven't tried removing the hack yet, but will do and report back if problems.

[2020-09-18 17:51] cheeseblubber opened #53 "Add Powered by Papercups at the bottom of the widget"

[2020-09-21 23:16] reichert621 commented on #52
hey @zkwentz -- this is fixed now so that the logs are off by default (unless in a local environment)

fixed in version `"@papercups-io/chat-widget": "^1.0.34"`

(i'll add a prop to opt in to showing logs in production in the near future, but i'm guessing that isn't too urgently needed)

[2020-09-21 23:16] #52 closed

[2020-09-29 01:48] reichert621 opened #55 "Only render ~20 most recent messages"
(Only load the remaining messages if the customer scrolls up)

[2020-09-29 17:33] reichert621 opened #56 "Add a callback prop for `onLoaded`"
In case anyone wants to display some loading indicator in the meantime

[2020-09-30 19:12] pandurijal commented on #55
Hello, I am interested to pick this issue, but could you specify on which file those messages are rendered?

[2020-09-30 21:04] reichert621 commented on #55
hey @pandurijal! this might be a bit tricky to tackle, but if you're willing to give it a shot the code lives in the https://github.com/papercups-io/chat-window repo in this component: https://github.com/papercups-io/chat-window/blob/master/components/ChatWindow.tsx#L691

here are some instructions for getting setup for development: https://github.com/papercups-io/chat-widget#development

but let

[2020-10-14 20:04] shea256 opened #59 "Papercups widget on React no longer working - Element type is invalid"
### Server Error

**Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object.**

This error happened while generating the page. Any console logs will be displayed in the terminal window.

### Source

[code]

### Call Stack

**Function.getInitialProps**

pages/_document.js (5:40)

[2020-10-14 20:28] reichert621 commented on #59
hey @shea256 -- how are you loading the chat widget currently? and what version are you on?

[2020-10-14 20:32] shea256 commented on #59
React

    "@papercups-io/chat-widget": "^1.1.0",

[2020-10-14 20:34] reichert621 commented on #59
@shea256 are you importing like
[code]
?

if so, can you try the following:
[code]

(this may be an issue with NextJS apps, which it looks like you might be using)

[2020-10-14 20:35] shea256 commented on #59
Ah wow yeah that worked, thanks!

Not sure why it worked originally and then stopped working.

[2020-10-14 20:37] reichert621 commented on #59
if you updated the version recently, that may have caused it 😓 (we added some updates so that we also export a few other modules, but still need to understand why the default export breaks in NextJS apps)

anyway, glad that fixed it! I'll update the docs to try to make sure no one else has a similar issue 👍

[2020-10-14 20:39] shea256 commented on #59
OK awesome thanks, sounds good! Will close this issue.

[2020-10-14 20:39] #59 closed

[2020-10-24 12:21] cheeseblubber opened #60 "Customize chat widget icon option"

[2020-10-24 13:32] reichert621 commented on #24
done!

[2020-10-24 13:32] #24 closed

[2020-10-24 13:34] reichert621 commented on #60
I believe this is already possible with the `customIconUrl` option: https://github.com/papercups-io/chat-widget#options

(feel free to reopen if you mean something else)

[2020-10-24 13:34] #60 closed

[2020-10-31 16:03] rosinghal opened #62 "Timezone issue"
I can see `Papercups · Sent 5 hours ago` whenever I open the chat widget (see screenshot attached). I am in IST, so I guess it defaults to GMT.

<img width="383" alt="Screenshot 2020-10-30 at 9 57 55 PM" src="https://user-images.githubusercontent.com/3481438/97783662-4aa59080-1bbf-11eb-9c0d-4b1d575996ae.png">

[2020-11-04 19:43] reichert621 opened #63 "Improve support for IE11"
Seems like our widget is breaking on Internet Explorer 😢

[2020-11-05 09:14] ressonix commented on #63
Microsoft is discontinuing support for IE11 for it's own services in Q1 2021, and intentionally hides it on new machines. I doubt IE11 optimization is a priority at this point as a result.

[2020-11-05 09:16] ressonix opened #65 "requireEmailUpfront not working"
The requireEmailUpfront option appears not to be working in the latest version available for Heroku Deployment.

[2020-11-05 13:30] reichert621 commented on #63
@ressonix unfortunately we have a few users that are on IE11 and need this fix 😞

[2020-11-05 13:30] reichert621 commented on #65
hey @ressonix! do you mind providing some more details?

i.e. is the email input not showing up at all? on what page is it not working? etc

[2020-11-05 22:53] ressonix commented on #65
Yes, the email field doesn't show up on any page I've tried.

[2020-11-06 03:37] reichert621 commented on #65
@ressonix are you using our Storytime library as well?

[2020-11-06 08:36] ressonix commented on #65
Yes, I am using it. Is there a conflict in using Storytime with it?

On Nov 5 2020, at 10:37 pm, Alex Reichert <notifications@github.com> wrote:

[2020-11-06 13:32] reichert621 commented on #65
it seems like there might be... I'll look into it today 👍

[2020-11-06 22:05] reichert621 commented on #65
this should be fixed now @ressonix! let me know if you're still seeing issues

[2020-11-06 22:05] #65 closed

[2020-11-16 23:18] reichert621 commented on #62
hey @rosinghal! i think this should be fixed now -- can you double check for me and let me know if I can close this?

[2020-11-17 07:14] rosinghal commented on #62
@reichert621 Timezone issue seems to be solved. When looking into this I noticed something else as well, basically, the auto message gets triggered as soon as the website loads, not when the user clicks on the chat icon. Not a very big issue though.

[2020-11-17 07:14] #62 closed

[2020-11-18 14:54] arjenrschat opened #67 "Widget scrolling broken in Firefox 82 OSX"
Scroll behavior is broken in Firefox due to different way it implements flexbox.
Resulting in a double scrollbar and the window is not auto scrolled to the bottom when a client messages.

<img width="425" alt="image" src="https://user-images.githubusercontent.com/25150192/99545189-6d081e00-29b5-11eb-951b-d5f2ae8f8852.png">

Cause:
#__next, body, html {
    display: flex;
   flex-direction: column;

[2020-11-18 19:26] reichert621 commented on #67
thanks @arjenrschat! i think this should be fixed now :) can you verify for me?

[2020-11-18 19:51] arjenrschat commented on #67
thanks @reichert621 works great.

[2020-11-18 19:52] #67 closed

[2020-12-10 13:30] pixpack opened #72 "Rich response templates"
It would be really nice if the widget supported rich responses or at least quick replies. This is very important for chatbot integrations. The way facebook does it could be an inspiration: [Facebook conversation components](https://developers.facebook.com/docs/messenger-platform/introduction/conversation-components/).

[2020-12-10 21:12] aguilaair opened #73 "Time ago in chat messages does not periodically update"
For example the chat widget shows sent just now, even though it's been long I sent it
The widget wont update the fuzzy timestamps until you send a new messgage

[2020-12-17 04:50] cheeseblubber opened #74 "Support react-native push notification for android"

[2021-01-30 15:27] cheeseblubber opened #76 "Write bash script to make developing chat-widget easier"
Right now you need to run 3 separate repos to get the development environment setup lets make it so that you only need a single one

[2021-02-16 18:49] reichert621 opened #77 "Persist open/closed state across pages"
If a user opens/closes the chat widget on one page and then navigates to another page, it should remain in the same state.

(This is particularly important when defaulting the chat to "open", because it's annoying to have to keep closing it on every new page.)

[2021-02-22 19:09] cheeseblubber opened #78 "Chatwidget shouldn't auto send messages for file uplaods"
I've accidentally uploaded the wrong file it should send when you press send

[2021-03-01 18:55] reichert621 commented on #74
not sure this applies to this repo?

[2021-03-01 18:55] #74 closed

[2021-03-01 18:58] reichert621 opened #79 "Add sound on new notifications"
It's hard to tell sometimes if a new message has arrived in the chat widget. Let's add a small sound like we do in the dashboard.

[2021-03-01 19:03] reichert621 opened #80 "Add `styles` prop for easier customization"
Rather than requiring devs to override CSS classes, let's add a `styles` prop that enabled overriding the chat container properties as well as the chat toggle button properties.

For example, something like this should allow devs to render the widget on the left side of the page rather than the right:
[code]

[2021-03-10 15:41] #80 closed

[2021-03-10 15:41] #77 closed

[2021-03-10 15:41] #53 closed

[2021-03-10 15:41] #79 closed

[2021-03-10 15:45] reichert621 opened #85 "Add option to hide widget outside working hours"
Let's add a new prop: `hideOutsideWorkingHours`.

If this is `true`, we'll check the widget settings `settings.account?.is_outside_working_hours` and completely hide the widget if this value is `true`.

[2021-03-15 13:49] pklreak commented on #72
yeah, that would be cool!

[2021-03-17 14:51] #28 closed

[2021-03-17 14:51] reichert621 commented on #28
done!

[2021-03-17 14:52] reichert621 commented on #32
done (a while ago)!

[2021-03-17 14:52] #32 closed

[2021-03-21 12:22] osdiab commented on #41
bundle analyzer: would `source-map-explorer` work?

Bundlephobia: https://bundlephobia.com/result?p=@papercups-io/chat-widget@1.1.9

looks pretty large, probably less than it actually is given tree-shaking. Is the library side-effect free? if so, would make sense to add that annotation to `package.json`.

Some thoughts on bundle size reduction:

- yeah, preact would make sense
- perhaps replacing

[2021-03-21 12:27] reichert621 commented on #41
het @osdiab! yep, framer and superagent can likely be removed in favor of pure CSS + fetch :+1:

[2021-03-22 04:51] osdiab commented on #41
at a minimum users can also configure on their own with webpack aliases that `react` imports get resolved by `preact/compat`, though it's less than ideal since things may not be 100% in-sync between them, potential for some bugs doing that. I'm not a user of papercups yet so I'm probably not going to invest the effort at the moment to make this contribution, but would do a lot to assuage my worrie

[2021-03-22 15:46] tharun208 commented on #85
@reichert621, I like to work on this

[2021-03-22 16:10] reichert621 commented on #85
sure @tharun208! let me know if you need any help getting set up :+1:

[2021-03-22 16:49] tharun208 commented on #85
@reichert621, The test account added in the repo is removed I think so

[2021-03-22 16:59] reichert621 commented on #85
@tharun208 the easiest way to test for you would probably be to do the following:
- sign up for a free papercups account at https://app.papercups.io/register
- get your account ID and update this account ID to match yours: https://github.com/papercups-io/chat-widget/blob/master/example/src/App.tsx#L6
- remove/comment out these two lines (so they point at our hosted app by default): https://github.

[2021-03-22 17:21] tharun208 commented on #85
@reichert621, should we need to show the chat widget icon or we need to show nothing to the user if this prop is set ?

[2021-03-22 17:34] reichert621 commented on #85
show nothing if this prop is set :+1:

[2021-03-26 18:15] cheeseblubber opened #87 "When requireEmailUpfront is on a user should not be able to upload a file"
Right now a user can by pass the email requirement by uploading a file.

[2021-04-08 17:02] aguilaair opened #90 "Add ability to parse Markdown images"
Right now if you send an image in markdown (e.g.  `![image](https://i.imgur.com/XC13fLf.png)`) you get an empty message:

![image](https://user-images.githubusercontent.com/29983481/114067019-a0801200-989c-11eb-99bf-d30582d79a8f.png)

Eventhough the papercups backend does not (yet) support uploading images it would be nice to have the ability to send images from a 3rd party service such as Imgur a

[2021-04-08 20:00] reichert621 commented on #90
will be fixed in the next deploy :)

[2021-04-21 18:52] cheeseblubber opened #91 "When submitting a markdown image it stretches and breaks the chat-widget"
<img width="433" alt="Screen Shot 2021-04-21 at 2 50 59 PM" src="https://user-images.githubusercontent.com/4218509/115605916-19299a00-a2b1-11eb-8853-95371f175122.png">

Related to this issue https://github.com/papercups-io/chat-widget/issues/90

[2021-04-21 18:52] cheeseblubber commented on #91
To reproduce:
go to papercups.io
open chat widget and paste
[code]

[2021-04-29 18:02] cheeseblubber commented on #90
<img width="396" alt="Screen Shot 2021-04-29 at 2 02 10 PM" src="https://user-images.githubusercontent.com/4218509/116597368-8bbef900-a8f3-11eb-98be-330f69e2529d.png">

[2021-04-29 18:02] #90 closed

[2021-05-07 15:42] durdevic opened #93 "Style newMessagesNotificationText"
Would be nice to be able to style **"View new messages"** component as well. For example to override the primary color or add the background color to the container so you can style it in case you have a different background as I have here

![Screenshot 2021-05-07 at 17 34 25](https://user-images.githubusercontent.com/2753836/117473732-8e0bfd80-af5a-11eb-90a6-215626bc9e8a.png)

I can imagine it add

[2021-06-23 07:53] kartikye opened #98 "React: Could not resolve dependency"
[code]

Installing with `--legacy-peer-deps` breaks craco

[2021-06-23 17:22] reichert621 commented on #98
did you try with `--force`?

[2021-06-23 17:29] reichert621 commented on #98
(we'll release a version with react v17 support soon, but curious if there's a workaround for the time being)

[2021-06-26 04:09] itzderr commented on #98
@reichert621 when are you guys going to release a version with react v17? thank you!

[2021-07-16 12:43] bitshiftnetau opened #99 "Security concerns"
Is the accountId the only thing protecting hackers from accessing our papercups account? Coz that is totally insecure.

Seems to me the best solution for you would be some kind of Auth0 integration.

[2021-08-11 18:21] reichert621 opened #102 "Error: "Attempted to send event papercups:plan with payload {"plan":null} before iframeRef was ready""
Seems like this happens only within the React component implementation, particularly when hooks are being used (e.g. `useEffect`, `useContext`)

My suspicion is that the message passing between the iframe and the wrapper component cause this to happen when the component is re-rendered in rapid succession.

Potential solutions:
- Short term: change error to warning so it doesn't clutter up Sentry
-

[2021-08-12 00:09] #102 closed

[2021-08-12 00:10] reichert621 commented on #102
Should be fixed in version `1.1.12`

[2021-08-20 01:36] FostersData opened #104 "[React Native, Expo] UI elements slide up when keyboard opens?"
Encountered this somewhat puzzling UI behaviour: when you start typing and the keyboard slides up, the header and previous messages slide up out of view too?
Would be great to keep as much context as possible for the user - is there a way to do this?

Note this is in React Native on iOS with Expo.

Before:
<img src="https://user-images.githubusercontent.com/68621265/130164973-88c7bb6e-212c-4501-8c

[2021-08-20 15:36] reichert621 commented on #104
hey @FostersData! what kind of iOS device is this on?

[2021-08-20 15:44] reichert621 commented on #104
also do you mind posting this in the https://github.com/papercups-io/chat-widget-native repo?

[2021-08-21 01:01] FostersData commented on #104
@reichert621  sure, I've made an issue [here](https://github.com/papercups-io/chat-widget-native/issues/9)

[2021-08-23 19:44] reichert621 commented on #104
thanks!

[2021-08-23 19:44] #104 closed

[2021-09-06 06:26] weisisheng opened #105 "Chat widget color shows as solid aka no design features ir graphics within..."
Wondering how to fix this as I am not facile with CSS.  Running the chatwidget on an MVP landing page, everything runs properly and all CSS on the site renders except for the chat widget label at the bottom (the button you click to open the chat window).  Welcome any tips or tricks.  Thanks in advance.

[2021-10-04 22:25] chris--young commented on #98
I'm having the same issue here. `--force` does not help. Is there anything non-obvious to do here other than just updating a few dependencies? I'm happy to help out a fellow YC company and open up a PR if you'd like.

[2021-11-22 15:28] owlas commented on #48
Hey @reichert621 is this still on the roadmap? It'd be great to provide a more friendly icon for the default bot account!

[2021-11-23 14:44] ZeRego opened #110 "High vulnerability detected for axios dependency"
When I run `yarn audit` I get the following high vulnerability report:
[code]

[2022-04-14 09:13] darrenhaken opened #111 "Using the chat widget with different backends like Twilio"
I'm a Twilio user and looking to provide a chat experience on our web platform. The widget looks awesome, would it be possible to use it outside of the Papercup ecosystem - ie integrate with Twilio APIs for the messaging layer?

[2022-06-24 17:30] terra-alex opened #112 "Support for react 18+"
Seems like the widget only has support for react between 16 and 17

When can we expect support for react 18? In the meantime we'll use the raw JS script to add it in as a workaround

[code]

[2022-07-29 14:45] EvanTrow opened #113 "Build widget.js"
Is there any documentation on how to build the widget.js for HTML sites?

[2022-10-01 02:14] stylusscoped opened #114 "use in nuxt2"
How can i use chat-widget in nuxt2?

[2022-11-10 21:08] zekekin opened #115 "disabling attachments in chatWindow"
Hi there,

Is there a way to disable attachments in chatWindow?

I've tried changing the docker env var called REACT_APP_FILE_UPLOADS_ENABLED but it only made attachments disappear on the console-side.

Thanks!

[2022-11-10 22:20] #115 closed, assigned to nobody